/* custom admin styles for site */

/* data table styles */
.data_table .follow_up {background-color: #ffffaa;}
.data_table .deleted {text-decoration: line-through;}
.data_table .working {background-color: #99ffcc;}

/* dashboard meta boxes */
#dashboard-widgets-wrap .postbox ul ul {
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.dash-meta-cpt-summary {
	display: flex;
}

.dash-meta-cpt-summary .dashicons-before {
	margin-right: 2rem;
}
.dash-meta-cpt-summary .dashicons-before::before {
	font-size: 60px;
	width: 60px;
	height: 60px;
}

#dashboard-widgets-wrap .postbox .inside h3 {
	font-weight:bold;
}

#dashboard-widgets-wrap .postbox .inside .marked-record {
	padding:0.5rem;
	margin-left: -0.5rem;
}

#dashboard-widgets-wrap .postbox .inside .follow_up {
	background-color:#ffff66;
}

#dashboard-widgets-wrap .postbox .inside .working {
	background-color:#99ffcc;
}

#dashboard-widgets-wrap .admin-icon {
	font-size: 1.25rem;
}

/* dashicons as admin icons */
.admin-icon {
	text-decoration:none;
	vertical-align: middle;
}

.admin-icon:before {
	font-family: "dashicons";
}

.admin-view:before {
	font-family: "dashicons";
	content: "\f177";
}

.admin-edit:before {
	font-family: "dashicons";
	content: "\f464";
}

/* editor styles */

/* post deleted */

.post-deleted .editor-styles-wrapper {
	background-image: url('../images/watermark-deleted.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ffefef;
}

.post-follow-up .editor-styles-wrapper {
	background-image: url('../images/watermark-follow-up.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ffff99;
}

.post-deleted .wp-block-post-title {
	text-decoration:line-through;
}

/* editor meta box styles  */
/* meta box heading */
.edit-post-meta-boxes-area  #poststuff h2.hndle {
	font-size: 1.25rem;
	padding: 8px 12px;
}

/* meta box fields */
.acf-postbox .acf-fields > .acf-field {
  padding: 15px 25px;
}

/* meta box deleted field */
[data-name="deleted"] .acf-switch.-on {
	background-color: red;
	border-color:black;
}
[data-name="deleted"] .acf-switch.-on span.acf-switch-on{
	text-shadow:none;
}
[data-name="deleted"] .acf-switch-slider {
	border-color:black !important;
}

/*  Admin list */

/* record statuses */
.wp-list-table .record-status {
	font-weight:bold;
}
.wp-list-table .record-status-follow-up {
	background-color:yellow;
}
.wp-list-table .record-status-deleted {
	background-color:red;
	color:white;
}
.wp-list-table .record-status-working {
	background-color:green;
	color:white;
}